@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap&subset=cyrillic-ext);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif
}

a {
  text-decoration: none
}

.btn {
  width: 220px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  font-size: 18px;
  font-weight: 700;
  border: 1px solid rgba(0, 0, 0, .2);
  box-shadow: 0 4px 15px rgba(0, 0, 0, .2);
  cursor: pointer;
  transition: .3s all;
  outline: 0
}

.btn_white {
  background-color: #fff
}

.btn_green {
  background-color: #38b142;
  color: #fff;
  border: none
}

.btn_min {
  height: 50px
}

.btn:hover {
  box-shadow: 0 4px 30px rgba(0, 0, 0, .3)
}

.container {
  max-width: 1200px;
  margin: 0 auto
}

.divider {
  width: 330px;
  height: 1px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, .5)
}

.title {
  font-size: 36px;
  font-weight: 400
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  padding: 0 100px
}

.header__left-block {
  display: flex;
  justify-content: space-between;
  min-width: 550px
}

.header__logo {
  max-width: 100px
}

.header__logo img {
  width: 80%
}

.header__links {
  display: flex;
  align-items: center
}

.header__link {
  position: relative;
  margin-right: 45px;
  font-weight: 700;
  font-size: 18px;
  color: #303030
}

.back {
  background: red;
  padding: 5px 10px;
  text-decoration: none;
  margin: 0px;
  align-items: center;
  display: block;
  width: 110px;
  text-align: center;
}

.header__link:after {
  content: '';
  position: absolute;
  display: block;
  width: 110%;
  left: -5%;
  bottom: -1px;
  z-index: -1;
  height: 8px;
  background: #54ed39
}

.header__link:last-child {
  margin-right: 0
}

.main {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column
}

.main__header {
  margin: 15px auto;

}

.main__text>p {
  margin: 10px 5px;
}

.main__text-notUsage>span {
  font-weight: 600;

}

.tasks {
  max-width: 1200px;

  display: flex;
  flex-direction: column
}

.tasks__task {
  padding-bottom: 20px;
}

.tasks__header {
  margin: 15px auto;

}

.tasks__task-head {
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
}

.tasks__task-run {
  min-width: 50px;
  padding: 8px 15px;
  border-radius: 5px;
  background-color: #54ed39;
  color: whitesmoke
}

.tasks__task-run:hover {
  background-color: #38b142;
  cursor: pointer;

}

.task__task-content {
  display: flex;
  justify-content: space-around;
}

.task__task-content>div {
  max-width: 450px;
  padding: 10px 15px;
}

.task__task-text {
  margin: 0 auto;
}

.task__task-code {
  margin: 0 auto;
  background-color: black;
  color: antiquewhite;
  box-shadow: 9px 2px 13px 1px #454545;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, .5)
}

.modal__dialog {
  max-width: 500px;
  margin: 40px auto
}

.modal__content {
  position: relative;
  width: 100%;
  padding: 40px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 4px;
  max-height: 80vh;
  overflow-y: auto
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 14px;
  font-size: 30px;
  color: #000;
  opacity: .5;
  font-weight: 700;
  border: none;
  background-color: transparent;
  cursor: pointer
}

.modal__title {
  text-align: center;
  font-size: 22px;
  text-transform: uppercase
}

.modal__input {
  display: block;
  margin: 20px auto 20px auto;
  width: 280px;
  height: 50px;
  background: #fff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, .2);
  border: none;
  font-size: 18px;
  text-align: center;
  padding: 0 20px;
  outline: 0
}

.modal .btn {
  display: block;
  width: 280px;
  margin: 0 auto
}

h2 {
  padding: 16px;
  text-align: center;
  margin: 0;
}

.quiz-box {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
  width: 600px;
  overflow: hidden;
}

.quiz-header {
  padding: 64px;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  font-size: 20px;
  margin: 15px 0;
}

ul li label {
  cursor: pointer;
}

#submit {
  background-color: #5ec6eb;
  border: none;
  display: block;
  width: 100%;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
  padding: 15px;
  transition: all 0.5s ease;
}

#submit:hover {
  background-color: #438faa;
}

#reload:focus {
  outline: none;
  background-color: #5ec6eb;
}

#reload {
  background-color: #5ec6eb;
  margin: 10px auto;
  border: none;
  border-radius: 8px;
  display: block;
  max-width: 30%;
  cursor: pointer;
  font-size: 25px;
  font-weight: bold;

  text-transform: uppercase;
  color: #000000;
  padding: 15px;
  transition: all 0.5s ease;
}

#reload:hover {
  background-color: #438faa;
}

#reload:focus {
  outline: none;
  background-color: #5ec6eb;
}

.show {
  display: block
}

.hide {
  display: none
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.1;
  }

  to {
    opacity: 1;
  }
}

/* timer 
.promotion__timer {
  width: 50%
}

.promotion__timer .title {
  text-align: right
}

.promotion__timer .timer {
  margin-top: 60px;
  padding-left: 95px;
  display: flex;
  justify-content: space-between;
  align-items: center
}

.promotion__timer .timer__block {
  width: 102px;
  height: 120px;
  background: #fff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, .25);
  font-size: 16px;
  font-weight: 300;
  text-align: center
}

.promotion__timer .timer__block span {
  display: block;
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 56px;
  font-weight: 700
}
*/